.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            "h h"
            "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
    /*background-color: #c9d1c8;*/
}






/*#04202c - forest, #3040404 - old green, #5b7065 - sosna, #c9d1c8 - smoke*/