.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialogsItems {
  margin-right: 75px;
}
.dialog a{
    font-weight: bold;
    color: #304040;
    text-decoration: none;
    font-size: 15px;
}
.dialog:hover a{
    cursor: pointer;
    color: #5b7065;
    text-decoration: none;
}
.dialog a.active{
    color: #04202c;
    text-decoration: none;
}

.messages {

}

.message {

}